@{
    ViewBag.Title = "Home Page";
}

<script>
    $(function() {
        $('#btnGetLaunch').click(function () {
            $('#launch').empty();
            //var ifrm = document.getElementById('ltiFrame');
            //ifrm = ifrm.contentWindow || ifrm.contentDocument.document || ifrm.contentDocument;
            //ifrm.document.open();
            //ifrm.document.write('Hello World!');
            //ifrm.document.close();
            //return;
            $.ajax({
                url: '@Url.RouteUrl(new { action = "GetLtiResource", controller = "Home" })',
                data: {
                    resourceUrl: $('#resourceUrl').val(),
                    resourceId: $('#resourceId').val()
                },
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: function(ltirequest) {

                    var f = $('<form />');
                    f.attr({
                        action: ltirequest.action,
                        method: 'post',
                        //target: '_blank',
                        target: 'ltiFrame',
                        encType: 'application/x-www-form-urlencoded'
                    });

                    ltirequest.fields['oauth_signature'] = ltirequest.signature;
                    Object.keys(ltirequest.fields).forEach(function (field, index) {
                        $('<input />')
                            .attr( {
                                type: 'hidden',
                                name: field
                            })
                            .val(ltirequest.fields[field])
                            .appendTo(f);
                    });
                    $('<input />')
                        .attr('type', 'submit')
                        .addClass('btn btn-default')
                        .val('launch')
                        .appendTo(f);

                    f.appendTo('#launch');
                }});
        });
    });

</script>

<div class="panel panel-default">
    <div class="panel-heading">LTI Resource</div>
    <div class="panel-body">
        <form class="form">
            <div class="form-group">
                <label for="resourceUrl">ResourceUrl</label>
                <input class="form-control" id="resourceUrl" value="https://proto.sascurriculumpathways.com/portal/Launch?id=198" />
            </div>
            <div class="form-group">
                <label for="resourceId">ResourceId</label>
                <input class="form-control" id="resourceId" value="urn:www.sascurriculumpathways.com:resource:198" />
            </div>
            <button type="button" id="btnGetLaunch" class="btn btn-primary">Generate Launch Button</button>
        </form>
    </div>
</div>
<div id="launch" class="well"></div>
<div>
    <iframe name="ltiFrame" id="ltiFrame"></iframe>
</div>
